.copy_right_footer
{
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
background-color: blue;
color: white;
}

.h1
{
font-family: 'Times New Roman', Times, serif;
color: purple;
}

#camera
{
   width:360px;
    height: 250px;
     border:1px solid grey;
   }



.result_1:hover
{
    border-radius: 10cm;
    width:360px;
    height: 250px;
     border:1px solid grey;
}

.result_2:hover
{
    border-radius: 10px;
    width:360px;
    height: 250px;
     border:1px solid grey;
}

.result_3:hover
{
    border-radius: 10in;
    width:360px;
    height: 250px;
     border:1px solid grey;
}
